* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(urgence-climatique\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    height: 20vh;
    width: 100vw;
}
.logo {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
.logo img {
    height: 20vh;
    width: 15vw;
}
.name {
    font-size: 2.4em;
    padding: 15px;
    color: white;
}
.button {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6em;
}
.button a {
    text-decoration: none;
}
.buton1 {
    color: red;

}
.buton2 {
    color: #176428;
    
}
.buton3 {
    color:black;
}
.barre {
    display: none;
}
/*menuburger*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Variables */
:root {
  --font-size:1rem;
}
.light-mode {
  --navbar-color: black;
  --navbar-bg-color: #F0F0F0;  
}
.dark-mode {
  --navbar-color: black;
  --navbar-bg-color: #ADE9BA;  
}

/* Reset */
* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}

/* Basic style */
body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
}
.main-content {
  padding:1rem;
}

/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.1rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
  
}
.navbar__links { 
  display:flex;  
}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}
.container {
    display: none;
}
footer {
    display: none;
}

/*  Small device */
@media screen and (max-width:767.98px) {
    header {
        display: inline;
        height: 20%;
        background-color: #ADE9BA;
    }
    .barre {
        display: block;
        height: 100%;
    }
    .logo {
        display: none;
    }
    .logo2{
        display: flex;
        box-sizing: content-box;
        align-items: center;
        justify-content: space-around;
        width: 50vw;
        height: 20%;
        
    }
    .logo2 img {
        height: 100%;
        width: 30vw;
    }
    .name {
        color: black;
        font-size: 1rem;
    }
    .button {
        display: none;
    }
    .navbar__links { 
        overflow: hidden;
        display:flex;
        flex-direction:column;
        width:0;
        height:calc(100vh - -35%);  
        position:absolute;
        top:18vh;
        right:0;   
        
        background:var(--navbar-bg-color);     
        transform: translateX(110%);
        transition: all .5s ease-in-out;
        
    }
    .show-nav .navbar__links { 
        width:100vw;    
        transform: translateX(0);
    } 
    .navbar__link {    
        transform: translateX(101%);
        transition: all .5s ease-in-out;
    }
  
    .show-nav .navbar__link  {        
        transform: translateX(0);    
    }   
    .navbar__link > a {
        display:block;
        padding:1rem;
        font-size:1.6rem;
        color:var(--navbar-color);  
        transition: all .4s ease-in-out;
    }
    .navbar__link > a:hover {
        padding-left:2rem;
        letter-spacing:5px;
    }
  
    /* Toggle menu */
    .burger {
        display:block;
        position:relative;
        padding:0;
        width:45px;
        height:45px;
        border:none;
        background:transparent;
        cursor:pointer;
    }
    .bar {
        display:block;    
        width:45px;
        height:4px;  
        border-radius:3px;
        background:var(--navbar-color); 
        transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
        content:"";
        width:45px;
        height:4px;
        position:absolute; 
        left:0;  
        background:var(--navbar-color); 
        border-radius:3px;    
        transition: all .5s ease-in-out;
    }
    .bar::before {
        transform:translateY(-12px)
    }
    .bar::after {
        transform:translateY(12px)
    }
    .show-nav .bar {
        width:0;
        background:transparent;    
    }
    .show-nav .bar::before {
        transform:rotate(45deg);
    }
    .show-nav .bar::after {
        transform:rotate(-45deg);
    }
    
    /* Bonus - Animations */
    .show-nav .first {      
        transition: all 1s ease-out;
    } 
    .show-nav .second {      
        transition: all 1.1s ease-out;
    } 
    .show-nav .third {      
        transition: all 1.2s ease-out;
    } 
    .show-nav .four {      
        transition: all 1.3s ease-out;
    } 
    .show-nav .fifth {      
        transition: all 1.4s ease-out;
    }
    body {
        background-image: none;
        height: 100%;
        width: 100%;
    }
    
    main {
        height: 60%;
    }
    .container{
        display: block;
        height: 100%;
        width: 100%;
    }
    .souscontain {
        height: fit-content;
    }
    .deforestation {
        width: 100vw;
        height: 50vh;
    }
    h2 {
        color: #000;
        text-align: center;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding: 10px;
    }
    .article {
        display: flex;
        width: 100vw;
        align-items: center;

    }
    .article img {
        width: 50%;
        height: 10%;
    }
    .article p {
        width: 50%;
        text-align: center;
        font-size: 1rem;
        padding: 10px;
    }
    footer {
        display: block;
        height: 20%;
        background-color: #ADE9BA;
    }
    .pied {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .reseausociaux {
        margin: 20px;
    }
    }



    